/**
 * GridFieldAddExistingSearchButton
 */

.add-existing-search-dialog {
  min-width: inherit !important;
}

.add-existing-search-dialog .add-existing-search-form .field {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.add-existing-search-dialog .add-existing-search-form .field label {
  padding: 4px 0;
}

.add-existing-search-dialog .add-existing-search-form .Actions {
  margin-top: 10px;
  padding: 0;
}

.add-existing-search-dialog .list-group-item {
  min-height: 32px;
}

.add-existing-search-dialog .btn-toolbar {
  margin-top: 12px;
}

/**
 * GridFieldAddNewInlineButton
 */

.ss-gridfield-inline-new {
  background: #EFE;
}

.ss-gridfield-inline-new:nth-child(2n) {
  background: #DFD;
}

.grid-field__table .form-check-input.editable-column-field {
  margin-top: .9rem;
  position: relative;
}

/**
 * GridFieldAddNewMultiClass
 */

.ss-gridfield-add-new-multi-class {
  margin-bottom: 8px !important;white-space: nowrap;
}

.ss-gridfield-add-new-multi-class .field {
  border: none;
  box-shadow: none;
  float: left;
  margin: 0 4px 0 0;
}

.ss-gridfield-add-new-multi-class .form-group {
  padding-bottom: 0;
}

.cms-edit-form:not(.AssetAdmin) .ss-gridfield-add-new-multi-class .form-group .form__field-holder {
  display: inline;
  padding: 0;
  margin: 0;
}

.cms-edit-form:not(.AssetAdmin) .ss-gridfield-add-new-multi-class .form-group {
  display: inline-block;
  margin: 0;
  min-width: 150px;
}

.ss-gridfield-add-new-multi-class .form-group:after {
  border:0;
}

.btn__addnewmulticlass {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 1.85em;
}

.ss-gridfield-add-new-multi-class .chosen-container-active.chosen-with-drop .chosen-single,
.ss-gridfield-add-new-multi-class .chosen-container-single .chosen-single  {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/**
 * GridFieldEditableColumns
 */

.ss-gridfield-editable .readonly {
  padding-top: 0 !important;
}

.ss-gridfield-editable input.text,
.ss-gridfield-editable textarea,
.ss-gridfield-editable select,
.ss-gridfield-editable .TreeDropdownField {
  margin: 0 !important;
  max-width: none !important;
}

.ss-gridfield-editable select.dropdown {
  border: 1px solid #b3b3b3;
  background-color: #fff;
  padding: 7px 7px 7px 4px;
  line-height: 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ss-gridfield-add-new-inline {
  margin-bottom: 12px;
}

.ss-gridfield-add-new-inline span.readonly {
  color: #FFF !important;
}

.ss-gridfield-add-new-inline .col-buttons {
  text-align: right;
}

/**
 * GridFieldOrderableRows
 */

.ss-gridfield-orderable thead tr th.col-Reorder span {
  padding: 0 !important;
  margin-left: 8px;
}

.ss-gridfield-orderable .col-reorder {
  position: relative;
  padding: 0 !important;
  width: 16px !important;
}

.ss-gridfield-orderable .col-reorder .handle {

  cursor: move;padding: 16px 0 11px;
}

.ss-gridfield-orderable .col-reorder .handle .icon {
  line-height: 100%;
  font-size: 1.5em;
}

.ss-gridfield-orderhelper {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

.ss-gridfield-orderable tfoot .ui-droppable {
  padding-left: 12px;
  padding-right: 12px;
}

.ss-gridfield-orderable tfoot .ui-droppable-active {
  background-color: #D4CF90 !important;
}

.ss-gridfield-orderable tfoot .ss-gridfield-previouspage {
  background-position: -16px 9px !important;
  margin-left: 0;
}

.ss-gridfield-orderable tfoot .ss-gridfield-nextpage {
  background-position: -40px 9px !important;
  margin-right: 0;
}

/**
 * GridFieldConfigurablePaginator
 */
.ss-gridfield-configurable-paginator .pagination-page-size {
  align-items: center;
  display: flex;
  float: left;
}

.ss-gridfield-configurable-paginator .pagination-page-size-select {
  margin-left: .5rem;
}

.ss-gridfield-configurable-paginator .ss-gridfield-pagesize-submit {
  display: none;
}

.ss-gridfield-configurable-paginator .pagination-page-number input {
  text-align: center;
}

.grid-field-inline-new--multi-class-list {
  display: none;
  background-color: #008a00;
  border-radius: 5px;
  bottom: 3em;
  list-style: none;
  margin: 0;
  right: 3em;
  padding: 10px;
  position: fixed;

}
.grid-field-inline-new--multi-class-list a {
  color: #FFF !important;
  display: block;
  margin: 5px -10px;
  padding: 0 10px;
}
.grid-field-inline-new--multi-class-list__visible {
  display: block;
}
